.table{
	width: 100%;
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 1rem;
    background-color: transparent;
	border-spacing: 0 15px;
    border-collapse: separate;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tbody {
    position: relative;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table td, .table th {
    padding: 0.75rem;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th{
	text-align: inherit;
	display: table-cell;
	font-weight: bold;
}
.table tbody tr {
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
.table thead tr th{
	vertical-align: middle;
    border: none;
    padding: 0.75rem;
}
.table tbody tr td {
	vertical-align: middle;
	border: none;
    background: #fff;
}
.table tbody tr td:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
.table thead tr th:nth-last-child(1){
    text-align: center;
}
.active-circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-right: 5px;
    display: inline-block;
}
.bg-success {
    background-color: #28a745!important;
}
.bg-danger {
    background-color: #dc3545!important;
}